@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Políticas de Privacidad.</h1>

<p>Utiliza esta página para detallar la política de privacidad de tu sitio web.</p>
<p>
    "Respetamos tu privacidad: tus datos son confidenciales y no los compartimos con terceros."
    "Protegemos tus datos: utilizamos medidas de seguridad para salvaguardar tu información personal."
    "Tu confianza es primordial: nos comprometemos a utilizar tus datos de manera responsable y transparente."
    "Privacidad garantizada: no vendemos ni compartimos tu información personal con empresas externas."
    "Nuestra prioridad es tu privacidad: mantenemos tus datos seguros y protegidos en todo momento."
</p>
